*.png,*.webp,*.gif,*.mp4,*.webm,*.svg filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.jsonlottie filter=lfs diff=lfs merge=lfs -text
.firebase !text -filter -merge -diff
.svelte-kit !text -filter -merge -diff
.build !text -filter -merge -diff
.node_modules !text -filter -merge -diff
 !text -filter -merge -diff
